.c-body,
.comment-form a,
.comment-form label,
.comment-metadata,
.comment-metadata a,
.entry-meta a,
.mainmenu-container li a span,
.site-header-account .account-dashboard li a,
.site-header-account .account-links-menu li a,
.widget.widget_archive a,
.widget.widget_categories a,
.widget.widget_meta a,
.widget.widget_nav_menu a,
.widget.widget_pages a,
a,
input[type="color"],
input[type="color"]::placeholder,
input[type="date"],
input[type="date"]::placeholder,
input[type="datetime-local"],
input[type="datetime-local"]::placeholder,
input[type="datetime"],
input[type="datetime"]::placeholder,
input[type="email"],
input[type="email"]::placeholder,
input[type="month"],
input[type="month"]::placeholder,
input[type="number"],
input[type="number"]::placeholder,
input[type="password"],
input[type="password"]::placeholder,
input[type="range"],
input[type="range"]::placeholder,
input[type="search"],
input[type="search"]::placeholder,
input[type="tel"],
input[type="tel"]::placeholder,
input[type="text"],
input[type="text"]::placeholder,
input[type="time"],
input[type="time"]::placeholder,
input[type="url"],
input[type="url"]::placeholder,
input[type="week"],
input[type="week"]::placeholder,
textarea,
textarea::placeholder {
  color: #768588;
}

.author-wrapper .author-name,
.c-heading,
.comment-author a,
.comment-content dt,
.comment-content strong,
.comment-content table td a,
.comment-content table th,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
.elementor-widget-opal-image-hotspots .elementor-accordion .elementor-tab-title,
.entry-content blockquote cite a,
.entry-content dt,
.entry-content dt a,
.entry-content strong,
.entry-content th,
.entry-content th a,
.form-group .form-row label,
.main-navigation .top-menu > li > a,
.page .entry-header .entry-title,
.search .site-content .page-title,
.site-header-account .login-form-title,
.widget-area strong,
.widget .tagcloud a,
.widget.widget_tag_cloud a,
.widget_archive li,
.widget_categories li,
.widget_recent_entries li.item-recent-post a,
.widget_search button[type="submit"],
.widget a,
.wp_widget_tag_cloud a,
blockquote,
blockquote a,
body.single .navigation .nav-link a,
fieldset legend,
h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: #000;
}

.author-wrapper .author-name h6,
.button-outline-secondary,
.c-secondary,
.comment-reply-title,
.comments-title,
.contactform-content button.mfp-close,
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-element .elementor-button-outline_secondary button[type="submit"],
.elementor-widget-opal-testimonials .testimonial-control-next i,
.elementor-widget-opal-testimonials .testimonial-control-prev i,
.opal-pricing-tables .pricing,
.osf-service-article .service-title a,
.owl-theme.owl-carousel .owl-nav [class*="owl-"]:before,
.owl-theme .products .owl-nav [class*="owl-"]:before,
.related-posts .related-heading,
.widget_rss .widget-title > a.rsswidget,
h2.widget-title,
h2.widgettitle {
  color: #555294;
}

#secondary .elementor-nav-menu a:before,
#secondary .elementor-widget-wp-widget-categories a:before,
.bg-secondary,
.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.button-secondary,
.e--pointer-dot a:before,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:active,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:focus,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:hover,
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-element .elementor-button-secondary button[type="submit"],
.elementor-flip-box__back,
.secondary-button .search-submit,
.show > .button-outline-secondary.dropdown-toggle {
  background-color: #555294;
}

.b-secondary,
.button-outline-secondary,
.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.button-secondary,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-element .elementor-button-outline_secondary button[type="submit"],
.elementor-element .elementor-button-outline_secondary button[type="submit"]:active,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:focus,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:hover,
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-element .elementor-button-secondary button[type="submit"],
.secondary-button .search-submit,
.show > .button-outline-secondary.dropdown-toggle {
  border-color: #555294;
}

#secondary .elementor-widget-container h5:first-of-type,
#secondary .elementor-widget-wp-widget-recent-posts a,
.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:hover span,
.btn-link,
.button-link,
.button-outline-primary,
.c-primary,
.cat-tags-links .tags-links a:hover,
.comment-author a:hover,
.comment-form a:hover,
.comment-metadata a:hover,
.contactform-content .form-title,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-element .elementor-button-outline_primary button[type="submit"],
.elementor-nav-menu-popup .mfp-close,
.elementor-teams-wrapper .team-icon-socials a:hover,
.elementor-widget-icon-box.style-2 .elementor-icon:before,
.elementor-widget-opal-image-hotspots .elementor-accordion .elementor-tab-title.elementor-active,
.elementor-widget-opal-testimonials .elementor-testimonial-wrapper .elementor-testimonial-content span:before,
.elementor-widget-opal-testimonials .testimonial-control-next:hover i,
.elementor-widget-opal-testimonials .testimonial-control-prev:hover i,
.entry-content blockquote cite a:hover,
.entry-meta a:hover,
.item-recent-service .service-link,
.mainmenu-container .menu-item > a:hover,
.mainmenu-container li.current-menu-parent > a,
.navigation-button .menu-toggle:focus,
.navigation-button .menu-toggle:hover,
.opal-comment-4 .comment-reply-link,
.opal-pricing-tables .table-cell h3.column-table-title,
.osf-service-article .service-title a:hover,
.owl-theme.owl-carousel .owl-nav [class*="owl-"]:hover:before,
.owl-theme .products .owl-nav [class*="owl-"]:hover:before,
.pbr-social-share a:hover,
.site-header-account .account-dashboard li a:hover,
.site-header-account .account-dropdown a.lostpass-link,
.site-header-account .account-dropdown a.register-link,
.site-header-account .account-links-menu li a:hover,
.site-header .header-group .search-submit:focus,
.site-header .header-group .search-submit:hover,
.title-with-icon:before,
.widget .tagcloud a:focus,
.widget .tagcloud a:hover,
.widget.widget_archive a:focus,
.widget.widget_archive a:hover,
.widget.widget_categories a:focus,
.widget.widget_categories a:hover,
.widget.widget_meta a:focus,
.widget.widget_meta a:hover,
.widget.widget_nav_menu a:focus,
.widget.widget_nav_menu a:hover,
.widget.widget_pages a:focus,
.widget.widget_pages a:hover,
.widget.widget_tag_cloud a:focus,
.widget.widget_tag_cloud a:hover,
.widget_recent_entries li a:active,
.widget_recent_entries li a:hover,
.widget_rss .widget-title > a.rsswidget:hover,
.widget a:focus,
.widget a:hover,
.wp_widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:hover,
blockquote:before,
body.single .navigation .next-nav:hover .thumbnail-nav,
body.single .navigation .next-nav:hover a,
body.single .navigation > div:hover .thumbnail-nav,
body.single .navigation > div:hover a,
body.single .navigation > div:hover b {
  color: #fd5866;
}

.f-primary {
  fill: #fd5866;
}

.bg-primary,
.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.button-primary,
.comments-link span,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-element .elementor-button-outline_primary button[type="submit"]:active,
.elementor-element .elementor-button-outline_primary button[type="submit"]:focus,
.elementor-element .elementor-button-outline_primary button[type="submit"]:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-element .elementor-button-primary button[type="submit"],
.elementor-flip-box__front,
.elementor-widget-divider .elementor-divider-separator:before,
.elementor-widget-opal-image-hotspots .scrollbar-inner > .scroll-element .scroll-bar,
.more-link,
.opal-image-hotspots-main-icons .opal-image-hotspots-icon,
.osf-service-article:hover .service-link-more a:hover,
.owl-theme.owl-carousel .owl-dots .owl-dot,
.owl-theme .products .owl-dots .owl-dot,
.page-links > .page-number,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.page-numbers.current:not(.dots),
.page-numbers:not(.dots):focus,
.page-numbers:not(.dots):hover,
.page .edit-link a.post-edit-link,
.post-categories a,
.post-categories span,
.scrollup,
.show > .button-outline-primary.dropdown-toggle,
.widget_archive a:before,
.widget_categories a:before,
.wp_widget_tag_cloud a:focus:before,
.wp_widget_tag_cloud a:hover:before,
button[type="submit"],
button[type="submit"]:focus,
button[type="submit"]:hover,
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"],
input[type="submit"],
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: #fd5866;
}

.b-primary,
.button-outline-primary,
.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.button-primary,
.button-secondary,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-element .elementor-button-outline_primary button[type="submit"],
.elementor-element .elementor-button-outline_primary button[type="submit"]:active,
.elementor-element .elementor-button-outline_primary button[type="submit"]:focus,
.elementor-element .elementor-button-outline_primary button[type="submit"]:hover,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-element .elementor-button-primary button[type="submit"],
.elementor-widget-opal-testimonials .testimonial-control-next:hover,
.elementor-widget-opal-testimonials .testimonial-control-prev:hover,
.form-control:focus,
.more-link,
.opal-pagination-3 .page-numbers.current:not(.dots),
.opal-pagination-3 .page-numbers:not(.dots):focus,
.opal-pagination-3 .page-numbers:not(.dots):hover,
.opal-pagination-4 .page-numbers.current:not(.dots),
.opal-pagination-4 .page-numbers:not(.dots):focus,
.opal-pagination-4 .page-numbers:not(.dots):hover,
.owl-theme.owl-carousel .owl-nav [class*="owl-"]:hover:before,
.owl-theme .products .owl-nav [class*="owl-"]:hover:before,
.page .edit-link a.post-edit-link,
.scrollup,
.secondary-button .search-submit,
.show > .button-outline-primary.dropdown-toggle,
.widget .tagcloud a:focus,
.widget .tagcloud a:hover,
.widget.widget_tag_cloud a:focus,
.widget.widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:focus:after,
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:hover:after,
.wpcf7 input:not([type="submit"]):focus,
button[type="submit"],
button[type="submit"]:focus,
button[type="submit"]:hover,
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="button"]:focus,
input[type="button"]:hover,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="range"]:focus,
input[type="reset"],
input[type="search"]:focus,
input[type="submit"],
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus {
  border-color: #fd5866;
}

.btn-link:focus,
.btn-link:hover,
.button-link:focus,
.button-link:hover,
.error404 .go-back:hover,
.error404 .return-homepage:hover,
.widget_search button[type="submit"]:focus,
.widget_search button[type="submit"]:hover,
a:active,
a:hover {
  color: #fc0c21;
}

.active.more-link,
.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-element .elementor-button-primary button[type="submit"]:active,
.elementor-element .elementor-button-primary button[type="submit"]:focus,
.elementor-element .elementor-button-primary button[type="submit"]:hover,
.more-link:active,
.more-link:hover,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.post-categories a:hover,
.post-categories span:hover,
.scrollup:active,
.scrollup:hover,
.show > .button-primary.dropdown-toggle,
.show > .dropdown-toggle.more-link,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  background-color: #fc0c21;
}

.active.more-link,
.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.button-secondary.active,
.button-secondary:active,
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-element .elementor-button-primary button[type="submit"]:active,
.elementor-element .elementor-button-primary button[type="submit"]:focus,
.elementor-element .elementor-button-primary button[type="submit"]:hover,
.more-link:active,
.more-link:hover,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.scrollup:active,
.scrollup:hover,
.secondary-button .active.search-submit,
.secondary-button .search-submit:active,
.secondary-button .show > .dropdown-toggle.search-submit,
.show > .button-primary.dropdown-toggle,
.show > .button-secondary.dropdown-toggle,
.show > .dropdown-toggle.more-link,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  border-color: #fc0c21;
}

.button-primary,
.elementor-element .elementor-button-primary .elementor-button,
.elementor-element .elementor-button-primary button[type="submit"],
.more-link,
.page .edit-link a.post-edit-link,
.scrollup,
button[type="submit"],
input.secondary[type="button"],
input.secondary[type="reset"],
input.secondary[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #fd5866;
  border-color: #fd5866;
}

.active.more-link,
.active.scrollup,
.button-primary.active,
.button-primary:active,
.button-primary:hover,
.elementor-element .elementor-button-primary .elementor-button:active,
.elementor-element .elementor-button-primary .elementor-button:focus,
.elementor-element .elementor-button-primary .elementor-button:hover,
.elementor-element .elementor-button-primary button[type="submit"]:active,
.elementor-element .elementor-button-primary button[type="submit"]:focus,
.elementor-element .elementor-button-primary button[type="submit"]:hover,
.more-link:active,
.more-link:hover,
.page .edit-link .show > a.dropdown-toggle.post-edit-link,
.page .edit-link a.active.post-edit-link,
.page .edit-link a.post-edit-link:active,
.page .edit-link a.post-edit-link:hover,
.scrollup:active,
.scrollup:hover,
.show > .button-primary.dropdown-toggle,
.show > .dropdown-toggle.more-link,
.show > .dropdown-toggle.scrollup,
.show > button.dropdown-toggle[type="submit"],
.show > input.dropdown-toggle[type="button"],
.show > input.dropdown-toggle[type="reset"],
.show > input.dropdown-toggle[type="submit"],
button.active[type="submit"],
button:active[type="submit"],
button:hover[type="submit"],
input.active[type="button"],
input.active[type="reset"],
input.active[type="submit"],
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
  background-color: #fc0c21;
  border-color: #fc0c21;
}

.button-outline-primary,
.elementor-element .elementor-button-outline_primary .elementor-button,
.elementor-element .elementor-button-outline_primary button[type="submit"] {
  color: #fd5866;
  border-color: #fd5866;
}

.button-outline-primary.active,
.button-outline-primary:active,
.button-outline-primary:hover,
.elementor-element .elementor-button-outline_primary .elementor-button:active,
.elementor-element .elementor-button-outline_primary .elementor-button:focus,
.elementor-element .elementor-button-outline_primary .elementor-button:hover,
.elementor-element .elementor-button-outline_primary button[type="submit"]:active,
.elementor-element .elementor-button-outline_primary button[type="submit"]:focus,
.elementor-element .elementor-button-outline_primary button[type="submit"]:hover,
.show > .button-outline-primary.dropdown-toggle {
  background-color: #fd5866;
  border-color: #fd5866;
  color: #fff;
}

.button-secondary,
.elementor-button-secondary button[type="submit"],
.elementor-button-secondary input[type="button"],
.elementor-button-secondary input[type="submit"],
.elementor-element .elementor-button-secondary .elementor-button,
.elementor-element .elementor-button-secondary button[type="submit"],
.secondary-button .search-submit {
  background-color: #555294;
  border-color: #555294;
}

.button-outline-secondary,
.elementor-element .elementor-button-outline_secondary .elementor-button,
.elementor-element .elementor-button-outline_secondary button[type="submit"] {
  color: #555294;
  border-color: #555294;
}

.button-outline-secondary.active,
.button-outline-secondary:active,
.button-outline-secondary:hover,
.elementor-element .elementor-button-outline_secondary .elementor-button:active,
.elementor-element .elementor-button-outline_secondary .elementor-button:focus,
.elementor-element .elementor-button-outline_secondary .elementor-button:hover,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:active,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:focus,
.elementor-element .elementor-button-outline_secondary button[type="submit"]:hover,
.show > .button-outline-secondary.dropdown-toggle {
  background-color: #555294;
  border-color: #555294;
  color: #fff;
}

.button-secondary.active,
.button-secondary:active,
.button-secondary:hover,
.elementor-button-secondary button[type="submit"]:active,
.elementor-button-secondary button[type="submit"]:focus,
.elementor-button-secondary button[type="submit"]:hover,
.elementor-button-secondary input[type="button"]:active,
.elementor-button-secondary input[type="button"]:focus,
.elementor-button-secondary input[type="button"]:hover,
.elementor-button-secondary input[type="submit"]:active,
.elementor-button-secondary input[type="submit"]:focus,
.elementor-button-secondary input[type="submit"]:hover,
.elementor-element .elementor-button-secondary .elementor-button:active,
.elementor-element .elementor-button-secondary .elementor-button:focus,
.elementor-element .elementor-button-secondary .elementor-button:hover,
.elementor-element .elementor-button-secondary button[type="submit"]:active,
.elementor-element .elementor-button-secondary button[type="submit"]:focus,
.elementor-element .elementor-button-secondary button[type="submit"]:hover,
.secondary-button .active.search-submit,
.secondary-button .search-submit:active,
.secondary-button .search-submit:hover,
.secondary-button .show > .dropdown-toggle.search-submit,
.show > .button-secondary.dropdown-toggle {
  background-color: #393763;
  border-color: #393763;
}
